.main-container {
    width: 60%;
    margin: 0 auto;
}
.main-container .title {
    border-bottom: 2px solid;
    padding: 15px;
}
.main-container .view-container {
    width: 100%;
}
.main-container .view-container .post, .main-container .view-container .submit {
    border-bottom: 1px solid;
    padding: 10px 0;
}
.main-container .view-container .home-link {
    margin-top: 20px;
}
