<div class="suggestions" ng-repeat="suggestion in suggestions | orderBy: '-upvotes'">
  <div class="row suggestion">
    <h3><a ng-href="#!/suggestion/{{ suggestion.id }}">{{ suggestion.title }}</a></h3>
    <p>
      <span class="glyphicon glyphicon-plus-sign" 	ng-click="upVote(suggestion)"></span>
      <span>
        Upvotes: {{ suggestion.upvotes }} | Comments ( {{ suggestion.comments.length }} )
      </span>
    </p>
  </div>
</div>
<div class="row submit">
  <form ng-submit="addSuggestion()" style="margin-top: 50px">
    <h3>Submit Your Suggestion</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Make a suggestion here" ng-model="title"></input>
    </div>
    <button type="submit" class="btn btn-primary">Suggest</button>
  </form>
</div>
