<form ng-submit="addComment(post)" style="margin-top: 50px">
	<h3>{{ post.title }}</h3>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Add a comment here" ng-model="postBody"></input>
	</div>
	<button type="submit" class="btn btn-primary">Comment</button>
</form>

<div class="comments" ng-repeat="comment in post.comments | orderBy: '-upvotes'">
	<p>{{ comment.body }}</p>
	<p>
		<span class="glyphicon glyphicon-plus-sign" ng-click="upVote(comment)"></span> Upvotes: {{ comment.upvotes }}
	</p>
</div>

<a href="#/">Home</a>