<div class="row submit">
  <form ng-submit="editSuggestion()" style="margin-top: 50px">
    <h3>Edit Suggestion</h3>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Title" ng-model="suggestion.title"></input>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Body" ng-model="suggestion.body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<div class="row">
  <a ng-href="#!/suggestion/{{ suggestion.id }}">back to suggestion </a>
</div>
