<h1>Edit User</h1>

<% action = user_url(@user) %>
<form class="" action="<%= action %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="PATCH">

  <label for="user_username">Username</label>
  <input id="user_username" name="user[username]" type="text" value="<%= @user.username %>">
  <br>

  <label for="user_old_password">Current Password</label>
  <input id="user_old_password" name="user[old_password]" type="password">
  <br>

  <label for="user_new_password">New Password</label>
  <input id="user_new_password" name="user[password]" type="password">
  <br>

  <input type="submit" value="submit">
</form>
