<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Suggestion Box</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="SuggestionBox">
  <header class="text-center">
    <h1>Suggestion Box</h1>
  </header>
  <div class="main-container">
    <div class="container view-container">
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
