<form class="" action="<%= comments %>" method="post">
  <%= auth_token %>

  <label for="comment_body">Add Comment</label>
  <textarea id="comment_body" name="comment[body]"></textarea>
  <br>
  <input type="submit" value="submit">
</form>
